body{
    margin: 0px auto;
    width: 900px;
    background-color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: burlywood; */
}

header > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    ;
    color: darkslategrey;
}

header > nav {
    margin-top: 70px;
    margin-left: 250px;
}
header > nav > ul > li {
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    background-color: cadetblue;
}

article {
    float: right;
    width: 33%;
    margin: 0px auto;
    text-align: center;
} 

 img {
    width: 300px;
    display: inline-block;
    padding: 5px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 25px;
} 

img {
    width: 100px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    width: 50%;
    float: left;
    text-align: center;
}