*{
    margin: 0px auto;
    width: 960px;
    background-color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: burlywood;
}

header > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    ;
    color: darkslategrey;
}

header > nav {
    margin-top: 70px;
    margin-left: 250px;
}
header > nav > ul > li {
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    background-color: cadetblue;
}

main > article > img {
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    background-color: cadetblue;
}